{# If already logged-in, don't render login page #}
{% if frappe.session.user != "Guest" %}
  <script>
    // send logged-in users away from /login
    window.location.replace("/"); // or "/"
  </script>
{% endif %}
{% extends "templates/web.html" %}

{% block head_include %}
  {{ super() }}
  {{ include_style("login.bundle.css") }}
  <link rel="stylesheet" href="/assets/placid_drip/css/placid-login.css">
{% endblock %}

{% block page_content %}
  <!-- PLACID LOGIN WRAPPER -->

  <div class="placid-login-shell">
    <div class="placid-login-left">
      <img src="/assets/placid_drip/images/placid-logo-hhh.png" alt="Placid Academy" />
      <img class="img-hero" src="/assets/placid_drip/images/hero-1.png" />
    </div>

<div class="placid-login-right">
  {% include "frappe/www/login.html" %}

  <a class="browse-courses-cta" href="/courses">Browse courses instead</a>
</div>
  </div>
{% endblock %}

{% block script_include %}
  {{ super() }}
  <script src="/assets/placid_drip/js/placid-login.js"></script>
{% endblock %}

{% block sidebar %}{% endblock %}