{# Extends frappe's login page rather than {% include %}-ing it: that page is a
   full document (it extends web.html itself), so including it rendered the whole
   page twice, loaded login.js twice and sent every login/forgot-password submit
   twice - two reset emails, only the second of which worked. #}
{% extends "frappe/www/login.html" %}

{% block head_include %}
  {{ super() }}
  <link rel="stylesheet" href="/assets/placid_drip/css/placid-login.css">
{% endblock %}

{% block page_content %}
  <div class="placid-login-shell">
    <div class="placid-login-left">
      <img src="/assets/placid_drip/images/placid-logo-hhh.png" alt="Placid Academy" />
      <img class="img-hero" src="/assets/placid_drip/images/hero-1.png" />
    </div>

    <div class="placid-login-right">
      {{ super() }}
      <a class="browse-courses-cta" href="/courses">Browse Courses</a>
    </div>
  </div>
{% endblock %}

{% block script %}
  {{ super() }}
  <script src="/assets/placid_drip/js/placid-login.js"></script>
  <script src="/assets/placid_drip/js/placid-login-code.js"></script>
{% endblock %}
